.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.accordionWrapper {
    width: 700px;

}

.itemlist {
    background-color: black;
    border: 2px solid white;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.btnActive {
    font-size: 40px;
}

.title {
    color: white;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content {
    max-height: 0;
    overflow: hidden;
}

.content.show {
    color: white;
    line-height: 25px;
    letter-spacing: 2px;
    height: auto;
    max-height: 9999px;
}