.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.accordionWrapper {
    width: 700px;

}

.itemlist {
    background-color: rgb(164, 209, 238);
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 10px 20px;
}

.btn {
    font-size: 40px;
}

.title {
    color: black;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content {
    max-height: 0;
    overflow: hidden;
}

.content.show {
    font-size: 18px;
    color: rgb(0, 89, 255);
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1.5px;
    height: auto;
    max-height: 9999px;
}